# Cordova
platforms/
plugins/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock


# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Environment
env.js
build.json